[Unit]
Description=Pi Signal
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/raspi-discovery-protocol/pi_server.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target

